@chatset "UTF-8";

body {
    width: 100vw;
    background-color: yellow;
    margin: 0;
    padding: 0;
}

.texto {
    width: 100vw;
    margin: auto;
}

.texto h1 {
    color: black;
    font-size: 100pt;
    text-align: center;
}

.texto h4 {
    color: #555;
    font-size: 40pt;
    text-align: center;
}